// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.menu {
    background-color: #BB3A3A;
    font-size: 20px;

    .ctn-menu {
        display: flex;

        .cat-link {
            color: white;

            .menu-item {
                color: white;
                padding: 15px 25px 15px 25px;
            }
        }

        .cat-link:hover {
            color: white;
            text-decoration: none;

            .menu-item:hover {
                background-color: #9e1d1d;
                color: white;
                cursor: pointer;
            }
        }
    }
}

.main-content {
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;

    .c7 {
        padding-right: 20px;

        .h1-div {
            height: 90px;
            align-items: center;

            .line {
                width: 90px;
                height: 47px;
                border-bottom: 3px solid red;
                position: absolute;
            }
        }
    }

    .c5 {
        position: relative;

        .main-img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;

            .big-img {
                box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.3);
            }
        }
    }
}

.list-product {
    margin-top: 30px;
    
    .small-img {
        width: 100%;
        height: auto;
    }

    .detail {
        height: 70px;
        margin: 0;
        padding-top: 10px;
        padding-left: 10px;
        border: solid 2px #c0cdd9;

        .pp {
            margin: 0;
        }

        .price {
            color: red;
        }
    }
}
