.menu {
  background-color: black;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: flex;
}
.menu .nav-link {
  line-height: 50px;
  height: 50px;
  margin-left: 70px;
  margin-right: 70px;
}
.menu .ctn-menu {
  display: flex;
  margin-left: 0;
  margin-right: 0;
}
.menu .ctn-menu .menu-item {
  color: white;
  text-decoration: none;
}
.menu .ctn-menu .menu-item:hover {
  background-color: #655444;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.head-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-top: 90px;
  border: 2px solid #bdc3c7;
  background: linear-gradient(180deg, #e1e1e1 0%, rgba(225, 225, 225, 0) 100%);
  border-radius: 3px 3px 0px 0px;
}
.head-table .table-name {
  font-weight: bold;
  font-size: 25px;
}
.head-table .add-btn {
  background: linear-gradient(180deg, #4a6bbf 0%, #334982 100%);
  border-radius: 4px;
  font-weight: 600;
}

.body-table {
  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}
.body-table .ctn-content {
  width: 98%;
  margin-top: 20px;
  border-top: hidden;
  font-size: 20px;
}
.body-table .ctn-content .Inactive {
  color: #00000059;
}
.body-table .ctn-content .Active {
  color: #00A006;
}
.body-table .ctn-content .ed-btn {
  display: flex;
}
.body-table .ctn-content .ed-btn .edit-btn {
  text-decoration: underline;
}
.body-table .ctn-content .ed-btn .delete-btn {
  text-decoration: underline;
  color: red;
  outline: none;
  border: none;
  background-color: white;
  padding-top: 0;
}
.body-table .ctn-content .ed-btn .delete-btn:hover {
  text-decoration: underline;
  color: red;
  font-weight: bold;
}

.cr-up-form {
  border: solid 3px #dddddd;
  border-radius: 10px;
  margin-top: 50px;
  font-size: 25px;
  font-weight: 600;
  width: 40%;
}
.cr-up-form .form-name {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 30px;
}
.cr-up-form .input-name {
  border: solid 1px #dddddd;
  border-radius: 2px;
  height: 40px;
  font-size: 20px;
  padding: 0 10px;
}
.cr-up-form .amount-price {
  display: flex;
}
.cr-up-form .amount-price .amount {
  width: 50%;
}
.cr-up-form .amount-price .price {
  width: 50%;
}
.cr-up-form .check-status {
  font-size: 20px;
  height: 60px;
  line-height: 60px;
}
.cr-up-form .check-status .status {
  transform: scale(1.5);
  margin-left: 10px;
}
.cr-up-form .can-sub-btn {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 0;
}
.cr-up-form .can-sub-btn .can-btn {
  font-weight: 500;
  background-color: #bdc3c7;
}
.cr-up-form .can-sub-btn .add-btn {
  background: linear-gradient(180deg, #4a6bbf 0%, #334982 100%);
  border-radius: 4px;
  font-weight: 600;
}
.cr-up-form .required:after {
  content: " *";
  color: red;
}
